<ion-view>

    	<ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-if="slideIndex > 0">
            Précédente citation
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()">
            Citation suivante
          </button>
        </ion-nav-buttons>
        
        
            <ion-slide-box show-pager="true" on-slide-changed="onSlideChanged(index)">
              <ion-slide ng-repeat="citation in citations">
              	<ion-content>
              	
                  <h1>{{citation.livre}}</h1>
                  <p>{{citation.texte}}</p>
                  <p>{{citation.personnage}}</p>
                  
                </ion-content>
              </ion-slide>
            </ion-slide-box>

</ion-view>
