$all_characters: Angharad Anna Appius_Manilius Attila Belt Breccan Calogrenant Capito Cesar dame_Cryda Dagonet Dame_du_lac Drusilla Duc_d_Aquitaine Galessin Goustan Grudu Herve_de_Rinel Interprete_burgonde Les_jumelles le_Jurisconsulte Manius_Macrinus_Firmus Mevanwi Lucius_Sillius_Sallustius Sefriane_d_Aquitaine Spurius_Cordius_Frontinius Verinus Ygerne;


@media screen and (min-width: 1024px){
	.character img {
		content: url('../img/characters/Unknown_256.png');
	}

	@each $character in $all_characters {
		.character img.#{$character} {
			content: url('../img/characters/#{$character}_256.png');
		}
	}
}

@media screen and (max-width: 1024px){
	.character img {
		content: url('../img/characters/Unknown_128.png');
	}
	@each $character in $all_characters {
		.character img.#{$character} {
			content: url('../img/characters/#{$character}_128.png');
		}
	}
}
	
@media screen and (max-width: 640px){
	.character img {
		content: url('../img/characters/Unknown_96.png');
	}
	@each $character in $all_characters {
		.character img.#{$character} {
			content: url('../img/characters/#{$character}_96.png');
		}
	}
}
	
@media screen and (max-width: 480px) {
	.character img {
		content: url('../img/characters/Unknown_64.png');
	}
	@each $character in $all_characters {
		.character img.#{$character} {
			content: url('../img/characters/#{$character}_64.png');
		}
	}
}
	
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
}



