

@media screen and (min-width: 1024px){
	.character img {
		content: url('../img/characters/Unknown_256.png');
	}
	.character img.Arthur {
		content: url('../img/characters/Arthur_256.png');
	}
}

/*
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
}
*/
	
@media screen and (max-width: 1024px){
	.character img {
		content: url('../img/characters/Unknown_128.png');
	}
	.character img.Arthur {
		content: url('../img/characters/Arthur_128.png');
	}
}
	
@media screen and (max-width: 640px){
	.character img {
		content: url('../img/characters/Unknown_96.png');
	}
	.character img.Arthur {
		content: url('../img/characters/Arthur_96.png');
	}
}
	
@media screen and (max-width: 480px) {
	.character img {
		content: url('../img/characters/Unknown_64.png');
	}
	.character img.Arthur {
		content: url('../img/characters/Arthur_64.png');
	}
}
	
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
}



