/* test */
@font-face{ 
	font-family: 'Folkard';
	src: url('../font/Folkard.eot');
	src: url('../font/Folkard.eot?#iefix') format('embedded-opentype'),
	     url('../font/Folkard.woff') format('woff'),
	     url('../font/Folkard.ttf') format('truetype'),
	     url('../font/Folkard.svg#webfont') format('svg');
}

body {
	cursor: url('../img/finger.png'), auto;
	font-size: 1.4rem;
	font-family: Papyrus;
}

/* --------------------- Common ionic style --------------------- */

.slider {
  height: 100%;
  margin: 0 0.4em 0 0.4em;
}
/*
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
*/


/* --------------------- Buttom buttons --------------------- */
.bar {
	background: none;
}

/* --------------------- Daily sentences --------------------- */
/*
#dailySentencesView {
	padding: 2em;
	background-image: url('/img/background/dailySentences/fond_2048.jpg');
	background-repeat: no-repeat;
	
	-moz-box-shadow: inset 0px 0px 100px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 100px 0px #000000;
	-o-box-shadow: inset 0px 0px 100px 0px #000000;
	box-shadow: inset 0px 0px 100px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=100);
}

.sentence {
	background: rgba(200, 200, 200, 0.6);
	border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 10px 4px #656565;
	-webkit-box-shadow: 0px 0px 10px 4px #656565;
	-o-box-shadow: 0px 0px 10px 4px #656565;
	box-shadow: 0px 0px 10px 4px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
*/

.character {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: left;
	padding-left: 3rem;
}
.character img {
	position: relative;
	top: 1rem;
	left: -1rem; 
	width: 5rem;
	vertical-align: bottom;
}
.sentence {
	padding-top: 1em;
	font-size: 1.1rem;
	line-height: 1.2em;
	padding-top: 2em;
}
.reference {
	font-size: 0.9rem;
	padding-top: 2em;
	text-align: center;
}
.book, .episode {
	font-weight: bold;
}

/*  --------------------- Rating --------------------- */
.icon-rate {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-right: 20px;
}

.icon-rate.selected {
	background-image: url('../img/star-selected.gif');
}

.icon-rate.not-selected {
	background-image: url('../img/star-not-selected.gif');
}



/*  --------------------- Responsive Design --------------------- */

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
	body {
		cursor: url('../img/finger.png'), auto;
		font-size: 1.0rem;
	}
	.slider {
  		margin: 0 1em 0 1em;
	}
	.character {
		font-size: 2rem;
	}	
	.character img {
		width: 6rem;
	}	
	.sentence {
		font-size: 1.3rem;
	}
	.reference {
		font-size: 1.1rem;
	}
}