/* Empty. Add your own CSS if you like */

@font-face{ 
	font-family: 'Folkard';
	src: url('/font/Folkard.eot');
	src: url('/font/Folkard.eot?#iefix') format('embedded-opentype'),
	     url('/font/Folkard.woff') format('woff'),
	     url('/font/Folkard.ttf') format('truetype'),
	     url('/font/Folkard.svg#webfont') format('svg');
}

body {
  cursor: url('/img/finger.png'), auto;
  font-size: 14px;
  font-family: Papyrus; 
}

/* --------------------- Is is really useful ??? --------------------- */

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}


/* --------------------- Buttom buttons --------------------- */
.bar {
	background: none;
}

/* --------------------- Daily sentences --------------------- */
#dailySentencesView {
	padding: 2em;
	background-image: url('/img/background/dailySentences/fond_2048.jpg');
	background-repeat: no-repeat;
	
	-moz-box-shadow: inset 0px 0px 100px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 100px 0px #000000;
	-o-box-shadow: inset 0px 0px 100px 0px #000000;
	box-shadow: inset 0px 0px 100px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=100);
}

.sentence {
	background: rgba(200, 200, 200, 0.6);
	border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 10px 4px #656565;
	-webkit-box-shadow: 0px 0px 10px 4px #656565;
	-o-box-shadow: 0px 0px 10px 4px #656565;
	box-shadow: 0px 0px 10px 4px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.character {
	font-size: 2rem;
	font-family: 'Folkard', Papyrus;
	text-align: left;
	padding-left: 3rem;
}
.character img {
	position: relative;
	top: 3rem; 
	width: 6rem;
	vertical-align: bottom; 
}
.sentence {
	padding-top: 1em;
	font-size: 1.4rem;
	padding-bottom: 1em;
}
.book, .episode {
	font-weight: bold;
}

/*  --------------------- Rating --------------------- */
.icon-rate {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-right: 20px;
}

.icon-rate.selected {
	background-image: url('/img/star-selected.gif');
}

.icon-rate.not-selected {
	background-image: url('/img/star-not-selected.gif');
}



/*  --------------------- Responsive Design --------------------- */

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}