/*
	For retina display, see http://weedygarden.net/2010/10/retina-display-and-css-background-images/
*/

/* --------------------- Fonts --------------------- */
@font-face{ 
	font-family: 'Folkard';
	src: url('../font/Folkard.eot');
	src: url('../font/Folkard.eot?#iefix') format('embedded-opentype'),
	     url('../font/Folkard.woff') format('woff'),
	     url('../font/Folkard.ttf') format('truetype'),
	     url('../font/Folkard.svg#webfont') format('svg');
}

/* Papyrus in unknown by Android */
@font-face{ 
	font-family: 'Papyrus-Custom';
	src: url('../font/Papyrus-Regular.ttf') format('truetype');
	
	font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
/*
@font-face{
	font-family: 'Papyrus-Custom';
	src: url('../font/Papyrus-Bold.ttf') format('truetype');
	
	font-weigth: bold;
}
*/

body {
	font-family: Papyrus, "Papyrus-Custom", "Folkard";
/*	font-family:  "Papyrus-Regular"; */
}

/* --------------------- Common ionic style --------------------- */

.slider {
  height: 100%;
}

/* For debug purpose */
.slider::before {   
  background: #ffc;   
  width: 96%;   
  padding: 1em 2%;   
  float: top;   
  clear: both;   
  font-size: 14px;   
  font-size: .875rem;      
  content: "Defautl resolution"; 
} 
  
/*
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
*/


/* --------------------- Buttom buttons --------------------- */
.bar {
	background: none;
}

/* --------------------- Daily sentences --------------------- */
/*
#dailySentencesView {
	padding: 2em;
	background-image: url('/img/background/dailySentences/fond_2048.jpg');
	background-repeat: no-repeat;
	
	-moz-box-shadow: inset 0px 0px 100px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 100px 0px #000000;
	-o-box-shadow: inset 0px 0px 100px 0px #000000;
	box-shadow: inset 0px 0px 100px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=100);
}

.sentence {
	background: rgba(200, 200, 200, 0.6);
	border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 10px 4px #656565;
	-webkit-box-shadow: 0px 0px 10px 4px #656565;
	-o-box-shadow: 0px 0px 10px 4px #656565;
	box-shadow: 0px 0px 10px 4px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
*/

#dailySentencesView {
  	padding: 0.4em 0.4em 0 0.4em;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.character {
	font-family: "Folkard";
	font-weight: bold;
	text-align: left;
	padding-left: 3rem;
	
	border-width: 0px 0px 1px 0px;
	border-style: solid;
 	border-color: black;
}
.character img {
	position: relative;
	top: 1rem;
	left: -1rem;
	vertical-align: bottom;
	margin-right: 0.5rem;
	
	background-repeat: no-repeat;
	/* auto resize with container size */
	-webkit-background-size: contain; /* For WebKit*/
    -moz-background-size: contain;    /* Mozilla*/
    -o-background-size: contain;      /* Opera*/
    background-size: contain;         /* Generic*/	
}
.sentence {
	line-height: 1.2rem;
	padding-top: 2rem;
	/*
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	*/
}
.reference {
	padding-top: 2rem;
	text-align: center;
}
.book, .episode {
	font-weight: bold;
}

/*  --------------------- Rating --------------------- */
.icon-rate {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-right: 20px;
}

.icon-rate.selected {
	background-image: url('../img/star-selected.gif');
}

.icon-rate.not-selected {
	background-image: url('../img/star-not-selected.gif');
}



/*  --------------------- Responsive Design --------------------- */

/* #### Desktops #### */
@media screen and (min-width: 1024px){
	.slider::before {   	  content: "1024 < Resolution (Desktop)"; 	} 
	
	body {
		cursor: url('../img/finger.png'), auto;
		font-size: 1.0rem;
	}
	#dailySentencesView {
  		padding: 1em 1em 0 1em;
  		/* TODO gérer si la taille de l'écran est plus grande (centrer l'image et mettre une couleur de fond) */
		background-image: url('../img/background/dailySentences/fond_2048.jpg');
	}
	.character {
		font-size: 2.3rem;
	}	
	.character img {
		top: 2rem;
		width: 10rem;
    	height: 10rem;
	}	
	.sentence {
		font-size: 1.6rem;
		line-height: 2rem;
	}
	.reference {
		font-size: 1.4rem;
	}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.slider::before {   	  content: "768 < Resolution < 1024 (tablet)"; 	} 
	
	#dailySentencesView {
  		padding: 1em 1em 0 1em;
		background-image: url('../img/background/dailySentences/fond_1024.jpg');
	}
}

/* #### Tablets or landscape on mobile phone #### */
@media screen and (max-width: 1024px){
	.slider::before {   	  content: "640 < Resolution < 1024 (mobile)"; 	} 
	
	#dailySentencesView {
  		padding: 1em 1em 0 1em;
		background-image: url('../img/background/dailySentences/fond_1024.jpg');
	}
	.character {
		font-size: 1.6rem;
	}
	.character img {
		height: 7rem;
		width: 7rem;
	}
	.sentence {
		font-size: 1.6rem;
		line-height: 1.9rem;
	}
	.reference {
		font-size: 1.2rem;
	}
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width: 640px){
	.slider::before { content: "480 < Resolution< 640 (mobile)"; 	}
	 
	#dailySentencesView {
		background-image: url('../img/background/dailySentences/fond_640.jpg');
	}
	.character {
		font-size: 1.4rem;
		padding-left: 1rem;
	}	
	.character img {
		height: 5rem;
		width: 5rem;
	}
	.sentence {
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding-top: 1rem;
	}
	.reference {
		font-size: 1.1rem;
		padding-top: 1rem;
	}
	
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 480px) {
	.slider::before { content: "Resolution < 480 (portrait)"; } 

	#dailySentencesView {
		background-image: url('../img/background/dailySentences/fond_480.jpg');
	}
}


/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
	.slider::before {   	  content: "Resolution < 480 on iPhone"; 	} 
	
	.character {
		font-size: 1.1rem;
		padding-left: 1rem;
	}	
	.sentence {
		font-size: 0.9rem;
		line-height: 1.2rem;
		padding-top: 1rem;
	}
	.reference {
		font-size: 0.7rem;
		padding-top: 1rem;
	}
}

